<!-- app/templates/admin/departments/departments.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Sales{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Sales</h1>
        {% if sales %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Employee Name </th>
                  <th width="15%"> Amount </th>
                  <th width="15%"> Date </th>
                  <th width="15%"> Status </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for sale in sales %}
                <tr>
                  <td> {{ sale.employee.first_name }} </td>
                  <td> {{ sale.amount }} </td>
                  <td> {{ sale.date.strftime('%Y-%m-%d') }}</td>
                  <td> {{ sale.is_approved }}</td>
                  <td>
                    <a href="{{ url_for('admin.edit_sale', id=sale.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_sale', id=sale.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No sales have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_sale') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Sale
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}