<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Today's snapshot</h1>
                    <ul>
                        {% for sale in employee.sales.all() %}
                            <li>{{ sale.amount }} {{ sale.date }}</li>
                        {% endfor %}
                    </ul>
                    <h3>{{ employee.rate.name }}</h3>

                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}